@import 'styles/variables';
@import 'styles/breakpoints';

.root {
  padding: $spacing--8 $spacing--2 $spacing--4;
  position: relative;
  display: flex;
  align-items: center;

  @include breakpoint--desktop {
    padding: $spacing--8 $spacing--8;
    min-height: 100vh;
  }
}

.backgroundMobile {
  position: absolute;
  width: 100%;
  left: 0;
  top: -$spacing--4;
  max-height: 150%;

  z-index: -1;

  @include breakpoint--desktop {
    display: none;
  }
}

.backgroundDesktop {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
  display: none;

  @include breakpoint--desktop {
    display: block;
  }
}

.heading {
  margin-bottom: $spacing--1;

  @include breakpoint--desktop {
    margin-bottom: $spacing--3;
  }
}

.description {
  margin-bottom: $spacing--4;
}

.button {
  margin: $spacing--3 auto 0;

  @include breakpoint--desktop {
    margin-top: $spacing--6;
  }
}

.image {
  border-radius: 25px;
  mask-image: none;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  margin: auto;
  display: block;
}

.desktopContent {
  justify-self: start;
}
