@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/typography';
@import 'styles/breakpoints';

.root {
  border-radius: 25px;
  padding: $spacing--1;
  background-color: $accent-color-2;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.square {
  @include breakpoint--tablet {
    grid-column-end: span 3;
    grid-row-end: span 2;
  }
}

.horizontal {
  @include breakpoint--tablet {
    grid-column-end: span 2;
  }
}

.vertical.caption {
  @include text-small;
}

.imageWrapper {
  border-radius: 25px;
  @include zoom-image;
  flex: 1;
}

.image {
  border-radius: 25px;
}

.caption {
  display: block;
  background-color: $text-color--light;
  color: $text-color;
  padding: $spacing--2;
  margin-top: $spacing--1;
  border-radius: 25px;
  text-align: center;
}

.artist {
  font-weight: 700;
}
