$primary-color: #e36515;
$primary-color--dark: #b34f11;
$primary-color--darker: #863b0c;

$accent-color-1: #d84592;
$accent-color-2: #cc8aba;
$accent-color-3: #f49c83;

$background-color: #fff7f2;
$text-color: #000000;
$text-color--light: #fdfdfd;

$heading-1-size--mobile: 2.25rem;
$heading-2-size--mobile: 1.5rem;
$heading-3-size--mobile: 1.25rem;

$heading-1-size--desktop: 3rem;
$heading-2-size--desktop: $heading-1-size--mobile;
$heading-3-size--desktop: $heading-2-size--mobile;

$body-font-size--small: 0.75rem;
$body-font-size--medium: 1rem;
$body-font-size--large: 1.25rem;
