@import 'styles/breakpoints';
@import 'styles/variables';

.root {
  padding: $spacing--8 0 0;
  display: flex;
  align-items: center;
  position: relative;

  @include breakpoint--desktop {
    min-height: 100vh;
  }
}

.backgroundMobile {
  position: absolute;
  width: 100%;
  left: 0;
  top: -$spacing--4;
  z-index: -1;
  height: 100%;

  @include breakpoint--desktop {
    display: none;
  }
}

.backgroundDesktop {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
  display: none;

  @include breakpoint--desktop {
    display: block;
  }
}

.button {
  margin: $spacing--3 auto 0;

  @include breakpoint--desktop {
    margin-top: $spacing--6;
  }
}

.text {
  padding: 0 $spacing--2;
}

.heading {
  margin-bottom: $spacing--1;

  @include breakpoint--desktop {
    margin-bottom: $spacing--3;
  }
}

.description {
  margin-bottom: $spacing--2;
}

.desktopContainer {
  grid-gap: 0;
  grid-template-columns: 40% 60%;
}
