@import 'styles/breakpoints';
@import 'styles/variables';

.root {
  padding: $spacing--8 $spacing--2;
  height: 100vh;
}

.heading {
  margin-bottom: $spacing--1;

  @include breakpoint--desktop {
    margin-bottom: $spacing--3;
  }
}

.description {
  margin-bottom: $spacing--4;
}

.button {
  margin: $spacing--3 0 0 auto;

  @include breakpoint--desktop {
    margin-top: $spacing--6;
  }
}

.desktopContainer {
  grid-gap: 0;
  grid-template-columns: 40% 60%;
}

.desktopContent {
  align-self: center;
  justify-self: center;
}
