@import 'styles/breakpoints';
@import 'styles/variables';

.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $spacing--1 $spacing--2;
  position: relative;
  min-height: 600px;
}

.link {
  overflow: hidden;
  border-radius: 25px;
  transition: transform 0.25s ease-in-out;

  &:first-child,
  &:nth-child(4) {
    grid-column: 1 / -1;
  }

  &:nth-child(n + 5) {
    display: none;
  }

  @include breakpoint--desktop {
    position: absolute;
    max-width: 170px;
    left: 50%;
    top: 50%;

    @media screen and (min-width: 1450px) {
      max-width: 250px;
    }

    &:nth-child(n + 4) {
      display: block;
    }
  }
}

.image {
  width: 100%;
  height: 100%;

  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}
