@import 'styles/breakpoints';
@import 'styles/variables';

.root {
  padding: $spacing--8 $spacing--2 0;
  display: flex;
  align-items: center;
  position: relative;

  @include breakpoint--desktop {
    min-height: 100vh;
    padding: $spacing--2;
  }
}

.backgroundMobile {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;

  @include breakpoint--desktop {
    display: none;
  }
}

.backgroundDesktop {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
  display: none;

  @include breakpoint--desktop {
    display: block;
  }
}

.heading {
  margin-bottom: $spacing--1;

  @include breakpoint--desktop {
    margin-bottom: $spacing--3;
  }
}

.description {
  margin-bottom: $spacing--4;
}

.button {
  margin: $spacing--3 auto 0;

  @include breakpoint--desktop {
    margin: $spacing--6 0 0 auto;
  }
}

.desktopContainer {
  grid-gap: 0;
  grid-template-columns: 40% 60%;
}

.desktopContent {
  align-self: center;
  justify-self: center;
}
