.work-in-progress {
  flex: 1;

  &__content {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  &__image {
    @media screen and (max-height: 600px) {
      width: 300px;
    }
  }

  &__title {
    font-size: 4rem;
  }

  &__subtitle {
    font-size: 1rem;
    margin-top: 8px;
    text-align: center;
  }

  footer {
    height: 5vh;
    display: flex;
    align-items: flex-end;
  }
  &__copy {
    text-align: right;
    font-size: 0.8rem;
    margin-bottom: 8px;
  }
}
