@import 'styles/breakpoints';
@import 'styles/typography';

.root {
  min-height: 100vh;
  display: grid;
}

.container {
  padding: $spacing--4 $spacing--2 0;
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoint--desktop {
    display: grid;
    grid-gap: $spacing--8;
    grid-template-columns: 1fr 1fr;
    padding: $spacing--8 $spacing--8 0;
  }
}

.content {
  justify-self: center;
  align-self: center;
  margin-top: $top-spacing;

  @media screen and (min-width: $desktop-size) and (max-height: 850px) {
    align-self: end;
    margin-bottom: $spacing--4;
  }
}

.heading {
  color: $primary-color;
  margin-bottom: $spacing--2;

  @include breakpoint--desktop {
    font-size: 2rem;
  }

  @include breakpoint--desktop-l {
    font-size: $heading-1-size--desktop;
  }
}

.button {
  margin: $spacing--4 auto;

  @include breakpoint--desktop {
    margin: $spacing--4 0 0;
  }
}

.text {
  @include breakpoint--desktop {
    @include text-large;
  }
}
