@import 'styles/variables';
@import 'styles/breakpoints';
@import 'styles/typography';

.root {
  min-height: 100vh;
  display: grid;
}

.background {
  grid-area: 1/1;
}

.grid {
  grid-area: 1/1;
  display: grid;
  grid-gap: $spacing--8;
  padding: $spacing--8 $spacing--8 0;
  position: relative;
  grid-template-columns: 1fr 1fr;
}

.logo {
  max-width: 180px;
  margin: auto;

  @include breakpoint--desktop {
    max-width: 250px;
    position: absolute;
    left: $spacing--8;
    top: $spacing--4;
  }
}

.content {
  justify-self: center;
  align-self: center;
}

.heading {
  color: $primary-color;
  margin: 120px 0 $spacing--2;
}

.button {
  margin: $spacing--4 auto;

  @include breakpoint--desktop {
    margin: $spacing--4 0 0;
  }
}

.text {
  @include breakpoint--desktop {
    @include text-large;
  }
}
