@import 'styles/variables';
@import 'styles/breakpoints';

.desktop {
  display: none;

  @include breakpoint--desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $spacing--8;
  }
}

.mobile {
  @include breakpoint--desktop {
    display: none;
  }
}

.desktopContent {
  max-width: 350px;
}
